.dis-flex{
    display: flex;
}

.fd-column{
    flex-direction: column;
}

.jc-center{
    justify-content: center;
}

.jc-end{
    justify-content: end;
}

.jc-between{
    justify-content: space-between;
}

.jc-around{
    justify-content: space-around;
}

.ali-center{
    align-items: center;
}

.ali-end{
    align-items: end;
}

.wrap{
    flex-wrap: wrap;
}