
.preloader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preloader-wrapp{
    position: relative;
    height: 4rem;
    width: 4rem;
}

.preloader-title{
    margin-bottom: 20px;
    font-size: 2rem;
}

.preloader-title-span{
    color: #fff;

}

.preloade__loader,
.preloader__percents-integer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.preloader-title{
    position: relative;
}

.preloader-title-span-point{color: #eb2f06;}

.preloade__loader font{
   color: #eb2f06;
   margin: 0;
   padding: 0;
   font-size: 1rem;
  
}

.preloader__percents-integer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.preloader__integer{
    transition: all 1s ease;
}

.preloader__percents-integer{
    transition: all 1s ease;
}

.preloader__percents-integer span{
    color: #eb2f06;
}

.preloader_hide{
    display: none;
}




@keyframes ldio-xdx07ipet5c {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }

  .ldio-xdx07ipet5c div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-xdx07ipet5c linear 1s infinite;
    background: #eb2f06;
    width: 0.55rem;
    height: 1.2rem;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }
  .ldio-xdx07ipet5c div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #eb2f06;
  }
  .ldio-xdx07ipet5c div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #eb2f06;
  }
  .loadingio-spinner-spinner-bosfl1dhubg {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
  }
  .ldio-xdx07ipet5c {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-xdx07ipet5c div { box-sizing: content-box; }