/* Шрифт */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Шрифт */

/* START Общие свойства */
html{
    /* font-size: 14px; */
    font-size:calc(14px + 14 * (100vw - 540px) / 1320);
}



a{  
    text-decoration: none;
    display: block;
}

hr{
    border-width: 5px;
}

.hidden_elem{
    visibility: hidden;
}

.display_none{
    display: none;
}

.display_block{
    display: block !important;
}



/* START scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{

    background: rgb(17,17,17);
}

::-webkit-scrollbar-thumb{  /* ползунок */

    background: #f00;
    border-radius: 10px;

}

/* END scrollbar */


body{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #111;

    /* padding-top: 75px; */

}


/* END Общие свойства */



/* START HEADER */
header{

    width: 100%;
    max-height: 90px;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 15px 0;
    box-shadow: 0 0.125rem 0.25rem rgba(255,255,255,.125);

    transition: 0.3s;

}




.header__container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;

}

.container{
    
    margin: 0 auto;
    width: 1320px;
    box-sizing: border-box;

    padding: 0 12px;
}



.container__logo .logo__link{
    color: #fff;

    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 60px;  
}

.container__logo .logo__link:active{
    color: #f00;
}

/* START BUTTON Burger */

.menu__button-burger{


    display: none;
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.span-burger{

    display: block;
    position: absolute;

    background-color: #fff;
    height: 12%;
    width: 100%;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
}



.button-burger__span-mid{
    left: 0;
    top: 45%;

}

.button-burger__span-top{
    left: 0;
    top: 10%;

}

.button-burger__span-bottom{
    left: 0;
    top: 80%;
}

/* END BUTTON Burger */

.list{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.nav-menu__list{
   justify-content: space-around;
}

.list__item{
    font-size: 0.8rem;
}

.nav-menu .nav-menu__list li {

    margin: 0 5px;
}

.nav-menu .nav-menu__list li a{
    display: block;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    padding: 8px 8px;
    letter-spacing: 1px;
}

/* END HEADER */

/* START MAIN */

main{
    width: 100%;
    color: white;
    height: 900px;
}

/* START ONE SECTION */
.section{
    padding-top: 25px;
}

.main-section-one{
    width: 100%;
    background-image: url("../images/tomas_dark.jpg");
    background-repeat: no-repeat;
    background-position:right center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding-top: 90px;
}

.main-section-one__container{
   
    position: relative;
    top:45%;
    transform: translate(0,-50%);
}

.content-section__into{
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    width: fit-content;
}

.content-section__into:before{
    content: " ";
    position: absolute;
    top:-5px;
    left: -10px;
    z-index: -1;
    width: 35px;
    height: 35px;
    background: #eb2f06;
    opacity: 0.5;
    border-radius: 50%;
}

.container__content-section-one{
    color:#fff;
}

.content-section__name{
    font-size: 2.2rem;
    font-weight: 400;
}

.content-section__name span{
    color: #eb2f06;
}

.content-section__title-clip{
    position: relative;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 10px;
    display: inline-block;

    

}

.content-section_clips{


    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    padding-right: 15px;

    animation-name: slider;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;



    border-right: 2px solid #eb2f06;
}

.clips__b{
    display: none;
    padding-right: 10px;
}

.clips__b:nth-child(3){
    padding-right: 60px;
}

.clips__b:nth-child(2){
    padding-right: 20px;
}



@keyframes slider {

    0% {

        width: 75%;
        padding-right: 10px;
      }

      40% {

        width: 75%;
        padding-right: 10px;

      }

      95%{
        width: 0%;
        padding-right: 0px;
      }
    
      100% {

        width: 0%;
        padding-right: 0px;
      }
    
}



.list_item-link{

    display: flex;
    align-items: center;
    justify-content: center;


    width: 40px;
    height: 40px;
    color: #eb2f06;
    margin: 0 5px;
    border: 2px solid #eb2f06;
    border-radius: 50%;
}

.list_item-link:hover{
    background-color: #eb2f06;
    color: #fff;
    transition: 0.3s ease;
}




/* END ONE SECTION */


/* END MAIN */




/* BreakPoint */

 

@media (min-width: 1201px) and (max-width: 1400px) {

    .container{
        width: 1140px;
    }

}

@media (min-width: 993px) and (max-width: 1200px) {

    .container{
        width: 960px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {


    .container{
        width: 720px;
    }

    

}

@media (max-width: 767px) {

    .container{
        width: 540px;
    }

    /* START SECTIO ONE */

    .container__content-section-one{
        text-align: center;
    }

    .content-section__links_social{
        justify-content: center;

    }

    .content-section__into{
        margin: 0 auto;
    }

    .content-section{
        font-size: 2.5rem !important;
    }

    .main-section-one{
        max-height: 100%;
    }

    .content-section__links_social{
        font-size: 1.2rem;
        
    }

    .list_item-link{
        width: 30px;
        height: 30px;
    }

    .main-section-one__container{
        top:50%;
    }


    /* START SLIDER */

    .clips__b{
        display: none;
        padding-right: 5px;
    }
    
    .clips__b:nth-child(3){
        padding-right: 25px;
    }
    
    .clips__b:nth-child(2){
        padding-right: 5px;
    }

    .clips__b:nth-child(1){
        padding-right: 2px;
    }




   @keyframes slider { 

        0% {
    
            width: 75%;
            padding-right: 5px;
          }
    
          40% {
    
            width: 75%;
            padding-right: 5px;
    
          }
    
          95%{
            width: 0%;
            padding-right: 0px;
          }
        
          100% {
    
            width: 0%;
            padding-right: 0px;
          }
        
    } 


    /* END SLIDER */


    /* END SECTIO ONE */


}

@media (max-width: 560px) {

    .container{
        width: 100%;
        padding: 0 20px;
    }


}

@media (max-width: 992px){
    /* Прячем меню - показываем бургер */

    .menu__button-burger{
        display: block;
    }

    /* START логика для js */

    /* бургер */

   .menu__button-burger_active > .button-burger__span-top{
        top: 45%;
        transform: rotate(-230deg) translate(0, -40%);
   }

   .menu__button-burger_active > .button-burger__span-mid{
    transition: all 0.3s ease 0s;
         transform: scale(0) translate(0px, 50%);
   }

   .menu__button-burger_active > .button-burger__span-bottom{
        top: 50%;
        transform: rotate(230deg) translate(0, 40%);
   }


   
    /* меню */

    .nav-menu{
    
        visibility: hidden;
        
        max-height: 0;
   }

    .header__container{
        flex-wrap: wrap;
   }

   .nav-menu_active .nav-menu__list{
        max-height: 60vh;

   }

   .nav-menu_active .nav-menu__list{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        overflow: auto;
        

   }    

    .nav-menu_active{
        visibility: visible;
        max-height: 200px;
        width: 100%;
        display: block;
        transition: all 0.4s ease-out;
    }
   

   /* END логика для js */


 
  
}








