/* Шрифт */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Шрифт */

/* START Общие свойства */
html{
    font-size: 20px;
    scroll-behavior:smooth;
}



a{  
    text-decoration: none;
    display: block;
}

hr{
    border-width: 5px;
}

/* START Логика JS */

.hidden_elem{
    visibility: hidden;
}

.display_none{
    display: none;
}

.display_block{
    display: block !important;
}

.display_opacity{
    opacity: 1 !important;
    
}

.translateX{
    transform: translateX(0) !important;
    
}

section{
    transition: all 1s ease;
}

.list__link-active{
    color: #eb2f06 !important;
    transition: 0.2s ease-in;   
   
}

.list__link-active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    border-top-color: #eb2f06;
    border-width:5px;
    transition: 0.8s ease-in;
}

.list__link:hover::before,
.list__link:active::before,
.list__link:focus::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: solid transparent;
    border-top-color: #eb2f06;
    border-width:5px;
    transition: 0.8s ease-in;
}

.list__link:hover,
.list__link:active,
.list__link:focus
{
    color: #eb2f06 !important;
    transition: 0.3s ease-in;  
}

.header-h2_letter_spacing{
    letter-spacing: 60px;
 }

.header-h2_active{
    
    letter-spacing: 0 !important;
    display: block !important;
}


.text-content__main-container-opacity{
    opacity: 1 !important;
}



.text-content__main-container-margin{
    margin: 50px 0 12px 0 !important;

}

.resume-section-content-header_opacity_scale{
    opacity: 1 !important;
    transform: scale(1) !important;

}


.content_box_resume_left-removed_opacity{
    left: 0 !important;
    opacity: 1 !important;
}

.portfolio_section__list-active{
    position: relative;
    z-index: 1;
    display: inline-block;
    cursor: pointer;

    color: #fff !important;
    background-color: #eb2f06;
    border-radius: 20px;
}

.portfolio_section__rewiev-wrapp > .portfolio_section__rewiev-scale{
    opacity: 1 !important;
    height: auto !important;
    width: 31% ;
    scale: 1 !important; 
    overflow: visible;

    margin-bottom: 16px;
    padding: 0 10px;
}

.feedback_section__swiper-button-pagination-span-active{
    opacity: 1 !important;
}

/* END Логика JS */


/* START scrollbar */
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{

    background: rgb(17,17,17);
}

::-webkit-scrollbar-thumb{  /* ползунок */

    background: #f00;
    border-radius: 10px;

}

/* END scrollbar */

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #111;

    /* padding-top: 75px; */

}

.count_section__wrap-count-block_opacity{
    opacity: 1 !important;

}

.count_section__wrap-count-translatex{
    transform: translateX(0) !important;
}

.count_section__wrap-count-integer-translatey{
    transform: translateY(0) !important;
}






/* END Общие свойства */



/* START HEADER */
header{

    width: 100%;
    /* max-height: 90px; */
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 15px 0;
    box-shadow: 0 0.125rem 0.25rem rgba(255,255,255,.125);

    transition: 0.3s;

}




.header__container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;

}

.container{
    
    margin: 0 auto;
    width: 1320px;
    box-sizing: border-box;

    padding: 0 12px;
}



.container__logo .logo__link{
    color: #fff;

    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 60px;  
}

.container__logo .logo__link:active{
    color: #f00;
}

/* START BUTTON Burger */

.menu__button-burger{


    display: none;
    position: relative;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.span-burger{

    display: block;
    position: absolute;

    background-color: #fff;
    height: 12%;
    width: 100%;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
}



.button-burger__span-mid{
    left: 0;
    top: 45%;

}

.button-burger__span-top{
    left: 0;
    top: 10%;

}

.button-burger__span-bottom{
    left: 0;
    top: 80%;
}

/* END BUTTON Burger */

.list{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.nav-menu__list{
   justify-content: space-around;
}

.list__item{
    font-size: 0.8rem;
}

.nav-menu .nav-menu__list li {

    margin: 0 5px;
}

.list__link{
    position: relative;
    display: block;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    padding: 8px 8px;
    letter-spacing: 1px;
    transition: all 0.8s ease;
    cursor: pointer;
}

/* END HEADER */

/* START MAIN */

main{
    width: 100%;
    color: white;
    height: 900px;
}

/* START ONE SECTION */


.home-section{
    width: 100%;
    padding-top: 25px;
    background-image: url("../images/tomas_dark.jpg");
    background-repeat: no-repeat;
    background-position:right center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding-top: 90px;
}

.home-section__container{
   
    position: relative;
    top:45%;
    transform: translate(0,-50%);
}

.content-section__into{
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
    width: fit-content;
}

.content-section__into:before{
    content: " ";
    position: absolute;
    top:-5px;
    left: -10px;
    z-index: -1;
    width: 35px;
    height: 35px;
    background: #eb2f06;
    opacity: 0.5;
    border-radius: 50%;
}

.container__content-section-one{
    color:#fff;
}

.content-section__name{
    font-size: 2.2rem;
    font-weight: 400;
}

.content-section__name span{
    color: #eb2f06;
}

.content-section__title-clip{
    position: relative;
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 10px;
    display: inline-block;

    

}

.content-section_clips{


    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    padding-right: 15px;

    animation-name: slider;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;


    border-right: 2px solid #eb2f06;
}

.clips__b{
    display: none;
    padding-right: 10px;
    transition: all 0.9s ease;
}

.clips__b:nth-child(3){
    padding-right: 60px;
}

.clips__b:nth-child(2){
    padding-right: 20px;
}



@keyframes slider {

    0% {

        width: 75%;
        padding-right: 10px;
      }

      40% {

        width: 75%;
        padding-right: 10px;

      }

      95%{
        width: 0%;
        padding-right: 0px;
      }
    
      100% {

        width: 0%;
        padding-right: 0px;
      }
    
}



.list_item-link{

    display: flex;
    align-items: center;
    justify-content: center;


    width: 40px;
    height: 40px;
    color: #eb2f06;
    margin: 0 5px;
    border: 2px solid #eb2f06;
    border-radius: 50%;
}

.list_item-link:hover{
    background-color: #eb2f06;
    color: #fff;
    transition: 0.3s ease;
}



/* END ONE SECTION */


/* START ABOUT SECTION */

.about-section{
    width: 100%;
    background-color: #1b1c1f;
    padding-top: 90px;
    padding-bottom: 60px;
    opacity: 0;
}

.about-section__container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color:#ccc;
}

.about-section__img{
    
    z-index: 1;
    position: relative;
    background-color: #444;
    max-width: 400px;
    margin-right: 50px;
    flex-basis: 50%;
    height: 540px;
    transition: all 1s ease;
    transform: translateX(-8%);

    box-sizing: content-box;

    padding: 10px 10px;
    border-radius: 10px;
}


.about-section__img::after{
    z-index: -1;    
    position: absolute;
    top: 70%;
    left: 58%;
    content: "";
    width: 200px;
    height: 200px;
    background-color: #F79F1F;
    opacity: 0.5;
    border-radius: 10px;
}


.about-section__img::before{

    position: absolute;
    top: -5%;
    left: -8%;
    content: "";
    width: 200px;
    height: 200px;
    background-color: #F79F1F;
    opacity: 0.5;
    border-radius: 10px;
}


.about-section__img-tomas{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.about-section__img-tomas-animation{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    /* width: 400px; */
}

.img-tomas-animation__span{
    transform: translate(-50%,-50%);
    position: absolute;
    left: -75%;
    top: 45%;
    display: block;
    width: 250%;
    height: 100px;
    background-color: #F79F1F;
    animation: border_img 13s linear infinite;      
}

@keyframes border_img {

    

    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}


.about-section__text-content{
    transform: translateX(8%);
    flex-basis: 50%;
    color:#fff;
    transition: all 1s ease;
}

.text-content__header{
    position: relative;
    overflow: hidden;
    width: fit-content;
    margin-bottom: 30px;
    margin: 0px auto 10px auto;
}

.content__header{
    position: relative;
    overflow: hidden;
    width: fit-content;
    margin-bottom: 30px;
}

.text-content__header-h2{
    transition: all 1s ease;
    color:#333;
    position: relative;
    top:0;
    left: 0;
    font-size: 4.5rem;
    line-height: 3.5rem;
    font-weight: 700;
    user-select: none;
}

.text-content__header-span{
    color:#eb2f06;
    font-size: 1.5rem;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    white-space:nowrap;
}

.text-content__description{
    font-size: 0.8rem;
    color:#ccc;
}

.text-content__info-list{
    font-size: 0.9rem;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

.text-content__info-list-item{
    padding-top: 15px;
    display: flex;
    flex-basis: 45%;
}

.text-content__info-list-item-span{
    
    min-width: 80px;
    color:#eb2f06;
}


.text-content__button-cv-link{
    position: relative;
    z-index: 1;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 50px;
    padding: 10px 25px;
    border: 2px solid #eb2f06;
    color:#eb2f06;
    border-radius: 30px;
    font-size: 0.8rem;
}

.text-content__button-cv-link::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    border-radius: 30px;

}

.text-content__button-cv-link:hover{
    color: #fff;
}

.text-content__button-cv-link:hover::before{
    /* content: '';
    position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    z-index: -1;
    transition: 0.3s ease-in;
    background-color: #eb2f06;
}

/* END ABOUT SECTION */


/* START SECTION SERVICE */

.services-section{
    padding-top: 90px;
    padding-bottom: 60px;
}


.service-section__text-content__header{
    
    margin: 0px auto 10px auto;
}

.service-section__text-content__main{
    margin-top: 34px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
}

.text-content__main-container{
    opacity: 0;
    position: relative;
    padding: 16px 18px;
    margin: 80px 0px 12px 0;
    background-color: #1b1c1f;
    border-radius: 10px;
    color: #fff;
    width: 28.5%;
    box-sizing: content-box;


    transition: 0.8s cubic-bezier(0.77, 0.85, 1, 1);
    box-shadow: inset 3px 3px 3px 1px rgba(150, 150, 150,0.25), 2px 2px 10px 1px rgba(136, 136, 136, 0.25);
}

.text-content__main-container:hover{
    margin-top: 45px;
}

.text-content__main-h3{
    text-align: center;
    color:#eb2f06;
    font-weight: 700;
    padding: 16px 16px;
    font-size: 1.4rem;
}

.text-content__main-text{
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 12px;
}

.text-content__main-container-icon{
    position: absolute;
    top: 0;  
    margin: 0;
    left: 50%;
    transform: translate(-50%,-50% ) rotate(45deg);
    width: 60px;
    height: 60px;
    background-color: #1b1c1f;  
    border-radius: 10px;
    box-shadow: inset 3px 3px 6px 1px rgba(150, 150, 150, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

}

.text-content__main-container-icon > i{
    display: inline-block;
    color:#F79F1F;
    transform: rotate(-45deg);
    font-size: 1.3rem;
}
.service-section__text-content-button-cv{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* END SECTION SERVICE */


/* START SECTION RESUME */

.resume-section{
    margin: 0 auto;
    background-color: #1b1c1f;
    padding-top: 90px;
    padding-bottom: 60px;
}

.resume-section_container{
    margin: 0 auto;
}

.resume-section__container-block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content_box_resume{
    
    position: relative;
    top:0;
    left:-45px;
    opacity: 0;
    background-color: #0f1013;
    padding: 15px 15px 10px 30px;
    border-radius: 5px;
    margin-bottom: 25px;
    transition: all 0.8s ease;
}

.resume-section__container-block{
    margin-top: 40px;
}

.resume-section__content-education-header,
.resume-section__content-experiences-header{
    transform: scale(0.5);
    opacity: 0;
    transition: all 1s ease;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-left: -70px;
}

.resume-section__content-experiences-header > i,
.resume-section__content-education-header > i{
    line-height: 50px;
    margin-right: 15px;
    font-size: 40px;
    color: #eb2f06;
}

.resume-section__content-h3{
    font-size: 1.5rem;
}

.resume-section__box-experiences,
.resume-section__box-education{
    
    padding: 0 12px;
    z-index: 0;
    position: relative;

}

.resume-section-content-box{
    padding-left: 70px;
}

.resume-section-content-box::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 36px;
    background-color: #555;
    width: 2px;
    height: calc(100% - 75px);
}

.content_box_resume::before{
    
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    left: 0;
    width: 25px;
    height: 25px;
    background-color: #0f1013;
}

.content_box_resume__circle{
    display: block;
    position: absolute;
    top: 50%;
    left: -56px;
    transform: translate(0,-50%);
    width: 22px;
    height: 22px;
    background-color: #eb2f06;
    border-radius: 50%;
}

.content_box_resume:hover .content_box_resume__circle{
    box-sizing: border-box;
    background-color: #F79F1F;
    border: 2px solid #eb2f06;
}

.content_box_resume__title{
    color:#F79F1F;
    font-size: 1.2rem;
}

.content_box_resume__date{
    display: inline-block;
    font-weight: 600;
    margin: 10px 0;
    padding: 5px 15px;
    border-radius: 5px;
    background: linear-gradient(to left,#F79F1F,#eb2f06);
}

.content_box_resume__text{
    font-size: 0.8rem;
}



.skills_section{
    padding: 90px 0 60px 0;
}

.skills_section__skill-part{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}

.skills_section__block{
    width: 46%;
}

.skills_section__skill-loader{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: red;
    margin-bottom: 35px;

    background-color: #212121;
    box-shadow: inset 0px 0px 5px 1px #888;
    border-radius: 20px;
}

.skills_section__skill-part-name{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.skills_section__skill-loader-progress{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: red;
    border-radius: 20px;
    transition: 1s ease;
 
}

.skills_section__skill-loader-progress:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #F79F1F;
    border: 2px solid #eb2f06;;
    border-radius: 5px;
    transform: rotate(45deg) scale(1.3);
}

.skills_section__skill-loader-progress-integer{
    position: absolute;
    content: "";
    top: -40px;
    left: 0%;
    margin-left: -13px;
    transform: translateX(-50%);
    color: #eee;
    background-color: #1b1c1f;
    padding: 2px 8px;
    border-radius: 5px;
    transition: 1s ease;

    font-size: 0.75rem;
}


.skills_section__skill-loader-progress-integer:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: #1b1c1f;
}

/* END SECTION RESUME */


/* START SECTION PORTFOLIO */

.portfolio_section{
    background-color: #1b1c1f;
    padding-top: 90px;
    padding-bottom: 60px;
}

.portfolio_section__wrapp-menu{
    padding: 10px 0 10px 0;
}

.portfolio_section__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.portfolio_section__menu{
    padding: 5px 20px;
}

.portfolio_section__list{
    margin: 0 4px 0 4px;
    padding: 5px 16px;
    font-size: 0.85rem;
    color: #F79F1F;
    font-weight: 400;
    line-height: 1.5;
}   

.portfolio_section__list:hover{
    position: relative;
    z-index: 1;
    display: inline-block;
    cursor: pointer;

    color: #fff;
    background-color: #eb2f06;
    border-radius: 20px;
}

.portfolio_section__rewiev-wrapp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.portfolio_section__rewiev-block-info{
    scale: 0;
    opacity: 0;
    height: 0;
    width: 0;
    transition: all 0.8s ease;
}

.portfolio_section__rewiev-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.portfolio_section__rewiev-link{
    transition: all 0.8s ease;
    border-radius: 10px;
    position: relative;

}

.portfolio_section__rewiev-link:hover .portfolio_section__rewiev-info-hover
{
    opacity: 1;
    margin-top: 0px;
}

.portfolio_section__rewiev-link:hover .portfolio_section__rewiev-info-hover i{
    transform: rotate(0);
}

.portfolio_section__rewiev-link:hover .portfolio_section__rewiev-info-hover .portfolio_section__rewiev-info-hover-text {
    margin-top: 0;
}

.portfolio_section__rewiev-link:hover .portfolio_section__rewiev-info-hover .portfolio_section__rewiev-info-hover-title {
    margin-bottom: 0;
}



.portfolio_section__rewiev-link:hover::before 
{   
    transition: all 0.1s ease;
    opacity: 1;
    cursor: pointer;
}




.portfolio_section__rewiev-link::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27,28,31,0.6);
    opacity: 0;
}





.portfolio_section__rewiev-info-hover{
    
    opacity: 0;
    display: flex;
    transition-delay:0s;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #eb2f06;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 50px);
    height: calc(100% - 50px);
}

.portfolio_section__rewiev-info-hover > i {
    font-size: 2.5rem;
    color:#F79F1F;
    width: max-content;
    margin: 0 auto;
    transform: rotate(360deg);
    transition: all 0.4s ease;
}

.portfolio_section__rewiev-info-hover-text,
.portfolio_section__rewiev-info-hover-title{
    text-align: center;
    color: #fff;
    
}

.portfolio_section__rewiev-info-hover-text{
    margin-top: -15px;
    transition: all 0.3s ease;
    font-size: 1rem;
    color:#dedede;
    font-weight: 300;
}


.portfolio_section__rewiev-info-hover-title{
    transition: all 0.3s ease;
    margin-bottom: -15px;
    font-size: 1.5rem;
}

/* END SECTION PORTFOLIO */


/* START SECTION COUNT */
.count_section{
    z-index: 1;
    position: relative ;
    width: 100%;
    padding: 48px 0 48px 0;
    background-color: #1b1c1f;
}

.count_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 130px;
    width: 100%;
    height: 100%;
    background-color: #0f1013; 
    z-index: -1;
}

.count_section__wrap-count-area{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.count_section__wrap-count-block{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    transition: all 2.5s ease;
    margin: 5px 0 5px 0;
    transform: translateX(-10%);

}

.count_section__wrap-count-block > i{
    font-size: 2rem;
    color: #F79F1F;
}


.count_section__wrap-count-integer{
    font-size: 50px;
    font-weight: 700;
    color: #eb2f06; 
    overflow: hidden;
    transition: all 1s ease;
    transform: translateY(-50%);
}
/* END SECTION COUNT */


/* START SECTION FEEDBACK */

.feedback_section{
    padding-top: 90px;
    padding-bottom: 60px;
    background-color: rgb(27, 28, 31);
}

.feedback_section__swiper-picture{
    width: 25%;
}

.feedback_section__swiper-text{
    width: 65%;
    padding: 0 12px;
}

.feedback_section__head-q{
    color: #aaa;
}

.feedback_section__head-bottom{
    color: #888;
}

.feedback_section__wrap-review{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.feedback_section__wrapper-swiper-picture{
    position: absolute;
    width: 280px;
    padding: 0 15px 0 15px;
    overflow: hidden;
}

.feedback_section__swiper-img-general{
    z-index: 0;
    position: relative;
    width: 100%;
    height: auto;
    transition: all 1s ease;
}


.feedback_section__swiper-img-1{
    transform: rotate3d(1,1,1, 4deg) rotateZ(-2deg) translateY(-16px) scale(1.05);
}

.feedback_section__swiper-img-2{
    transform: rotate3d(1,1,1, -1deg) rotateZ(-2deg) translateY(-16px) scale(1.05);
}

.feedback_section__swiper-img-3{
    position: relative;
    transform: rotate3d(1,1,1, 6deg) rotateZ(-4deg) translateY(-16px) scale(1.05);
}

.feedback_section__wrapper-swiper-picture-img1::before{
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate3d(1,1,1, 4deg) rotateZ(-2deg) translateY(-16px) scale(1.05);
    width: calc(100% - 30px);
    height: 100%;
    background-color: #111;
}   

.feedback_section__wrapper-swiper-picture-img2::before{
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate3d(1,1,1, -1deg) rotateZ(-2deg) translateY(-16px) scale(1.05);
    width: calc(100% - 30px);
    height: 100%;
    background-color: #111;
} 

.feedback_section__wrapper-swiper-picture-img2::before{
    content: "";
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate3d(1,1,1, -1deg) rotateZ(-2deg) translateY(-16px) scale(1.05);
    width: calc(100% - 30px);
    height: 100%;
    background-color: #111;
} 

.feedback_section__swiper-img-general-active{
    z-index: 1;
    transform: none;
    border: 2px solid #ccc;
}

.feedback_section__head-joint{
    display: flex;
    flex-direction: row;
    padding: 16px 0;
}

.feedback_section__swiper-text q{
    padding-top: 10px;
    display: block;
}

.feedback_section__head-joint > i{
    font-size: 80px;
    color: #555;
    padding: 8px 16px 0 0;
    
}

.feedback_section__head-review-details-h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.feedback_section__head-review-details-stars{
    color: #F79F1F;
}

.feedback_section__head-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}

.feedback_section__head-bottom-span{
    color: #eb2f06;
}

.feedback_section__swiper-button-pagination{
    display: flex;
    flex-direction: row;
    width: fit-content;    
}

.feedback_section__swiper-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.feedback_section__swiper-button-pagination-span{
    display: block;
    width: 45px;
    height: 20px;
    border-radius: 20px;
    background-color: #F79F1F;
    margin: 0 10px 0 10px;
    opacity: 0.5;
}


.feedback_section__swiper-button{
    width: 100%;
}



.feedback_section__swiper-button-arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.feedback_section__swiper-button-block{
    background-color: #eb2f06;
    width: 90px;
    height: 45px;
    border-radius: 12px;

}

.feedback_section__swiper-button-prev{
    position: relative;
    margin-right: 10px;

}

.feedback_section__swiper-button-prev::after{
    content: '\f060';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 40px;
}

.feedback_section__swiper-button-next{
    position: relative;
    margin-left: 10px;
}

.feedback_section__swiper-button-next::after{
    content: '\f061';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 40px;
}

/* START Псевдоклассы */
.feedback_section__swiper-button-next:hover::after{
    color: #F79F1F;
}

.feedback_section__swiper-button-prev:hover::after{
    color: #F79F1F;
}

.feedback_section__swiper-button-pagination-span:hover{
    background-color: #eb2f06;
    opacity:1;
}

/* END Псевдоклассы */



/* END START SECTION FEEDBACK */

/* END MAIN */




/* BreakPoint */

 

@media (min-width: 1201px) and (max-width: 1400px) {

    .container{
        width: 1140px;
    }

}

@media (min-width: 993px) and (max-width: 1200px) {

    .container{
        width: 960px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 992px) {


    .container{
        width: 720px;
    }


    /* START SECTION Services */


    .text-content__main-container{
        width: 40%;
    }

    /* END SECTION Services */
    


}

@media (max-width: 992px){

    /* START SECTION ABOUT */

    .about-section__container{
        flex-direction: column;
        align-items: center;
    }

    .about-section__img{
        margin-bottom: 90px;
    }

    .text-content__header{
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .text-content__info-list{
        flex-direction: column;
    }

    .text-content__header-h2{
        font-size: 3.5rem;
        line-height: 3.5rem;
        display: none;
    }

    .text-content__header-span{
        font-size: 1.3rem;
    }
    /* END SECTION ABOUT */

    /* Прячем меню - показываем бургер */

    .menu__button-burger{
        display: block;
    }

    /* START логика для js */

    /* START бургер */

   .menu__button-burger_active > .button-burger__span-top{
        top: 45%;
        transform: rotate(-230deg) translate(0, -40%);
   }

   .menu__button-burger_active > .button-burger__span-mid{
    transition: all 0.3s ease 0s;
         transform: scale(0) translate(0px, 50%);
   }

   .menu__button-burger_active > .button-burger__span-bottom{
        top: 50%;
        transform: rotate(230deg) translate(0, 40%);
   }

   /* END BURGER */
   
    /* MENU */

    .nav-menu{
    
        /* visibility: hidden; */
        display: none;
        
        max-height: 0;
   }

    .header__container{
        flex-wrap: wrap;
    }

   .nav-menu_active .nav-menu__list{
        max-height: 60vh;

   }

   .nav-menu_active .nav-menu__list{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        overflow: auto;
        

   }    

    .nav-menu_active{
        visibility: visible;
        max-height: 200px;
        width: 100%;
        display: block;
        transition: all 0.4s ease-out;
    }

    /* END MENU */
   

   /* END логика для js */


   /* START SECTION RESUME */

    .resume-section__container-block{
        flex-wrap: wrap;

    }

   /* END SECTION RESUME   */

   /* START SECTION SKILLS */

   .skills_section__skill-part{
    flex-direction: column;
   }

   .skills_section__block{
    width: 100%;
   }

  
   /* END SECTION SKILLS */

    /* START SECTION Portfolio */

       .portfolio_section__rewiev-wrapp{
            flex-direction: column;
            width: 100% !important;
        }

        .portfolio_section__rewiev-scale{
            width: 100% !important;
        }
       

    /* END SECTION Portfolio */


    /* START SECTION Count */
    .count_section__wrap-count-area{
        justify-content: center;
        flex-wrap: wrap;
    }
    .count_section__wrap-count-block{
        width: 50%;
        margin-bottom: 10px;
    }
    /* END SECTION Count */
}

@media (max-width: 767px) {

    .container{
        width: 540px;
    }

    /* START SECTIO ONE */

    .container__content-section-one{
        text-align: center;
    }

    .content-section__links_social{
        justify-content: center;

    }

    .content-section__into{
        margin: 0 auto;
    }

    .content-section{
        font-size: 2.5rem !important;
    }

    .home-section{
        max-height: 100%;
    }

    .content-section__links_social{
        font-size: 1.2rem;
        
    }

    .list_item-link{
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }

    

    .home-section__container{
        top:50%;
    }


    /* START SLIDER */

    .clips__b{
        display: none;
        padding-right: 5px;
    }
    
    .clips__b:nth-child(3){
        padding-right: 25px;
    }
    
    .clips__b:nth-child(2){
        padding-right: 5px;
    }

    .clips__b:nth-child(1){
        padding-right: 2px;
    }




   @keyframes slider { 

        0% {
    
            width: 75%;
            padding-right: 5px;
          }
    
          40% {
    
            width: 75%;
            padding-right: 5px;
    
          }
    
          95%{
            width: 0%;
            padding-right: 0px;
          }
        
          100% {
    
            width: 0%;
            padding-right: 0px;
          }
        
    } 


    /* END SLIDER */


    /* END SECTIO ONE */


    /* START SECTION Services */

    .service-section__text-content__main{
        flex-direction: column;
        align-content: center;
    }

    .text-content__main-container{
        width: 100%;
    }

    /* END SECTION Services */


    /* START SECTION Count */
    .count_section__wrap-count-area{
        flex-direction: row;
    }
    .count_section__wrap-count-block{
        width: 100%;
        margin-bottom: 10px;
    }

    .count_section::before{
        border-radius: 0;
    }
    /* END SECTION Count */


}

@media (max-width: 560px) {

    .container{
        width: 100%;
        padding: 0 20px;
    }

    .about-section__img{
        transform: translateX(-2.5%);
    }


}










